<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Episodes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>

    <h1>Episode List for Podcast: <span th:text="${podcastId}">TBD</span></h1>
  
    <table border=1>
      <tr>
      	<th>Podcast Id</th>
        <th>Episode Id</th>
        <th>Episode Name</th>
        <th>File Size</th>
      </tr>
      <tr th:each="episode : ${episodeList}">
         <td th:text="${episode.podcastId}" >podcastId</td>
         <td th:text="${episode.episodeId} ? ${episode.episodeId} : ' - '" >episodeId</td>
         <td th:text="${episode.episodeName}">episodeName</td>
         <td th:text="${episode.fileSizeInKB} ? ${episode.fileSizeInKB} : ' - '" >episodeId</td> 
      </tr>
    </table>
  
  </body>

</html>
