<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Episodes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>

    <h1>Episode List for Podcast: <span th:text="${podcastId}">TBD</span></h1>

    <table border=1>
      <tr>
      	<th>Unique Id</th>
      	<th>Podcast Id</th>
        <th>Episode Id</th>
        <th>Episode Name</th>
        <th>Processing Status</th>
        <th>Origin URL</th>
        <th>File Size</th>
        <th>S3 URL</th>
        <th>Transcribe</th>
      </tr>
      <tr th:each="episode : ${episodeList}">
         <td th:text="${episode.id}" >Unique ID</td>
         <td th:text="${episode.podcastId}" >podcastId</td>
         <td th:text="${episode.episodeId} ? ${episode.episodeId} : ' - '" >episodeId</td>
         <td th:text="${episode.episodeName}">episodeName</td>
         <td th:text="${episode.processingStatus}">processingStatus</td>
         <td><a href="" th:href="${episode.originURL}">Origin URL</a></td>
         <td th:text="${episode.fileSizeInKB} ? ${episode.fileSizeInKB} : ' - '" >fileSize</td> 
         <td th:text="${episode.s3URL}" >s3URL</td>  
         <td> 
         	<div th:if="${episode.canBeTranscribed} == true">
         	  		<form action="#" method="POST" th:action="@{/transcribe(id=${episode.id})}">
           	 			<button type="submit" name="submit" value="value" class="link-button">Transcribe</button>
        			</form>
         	</div>
         	<div th:if="${isError} == false"> N/A </div>         
        </td>     
      </tr>
      

    </table>
         
  </body>

</html>
