<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Landing Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>

    <h1>Hello World!</h1>
  
    This is KXtract
    
    <p>Please select an option</p>
<ol>
  <li><a href="podcasts/list.html" th:href="@{/ui/podcasts}">Podcast List</a></li>
  <li><a href="episodes/list.html" th:href="@{/ui/episodes}">Episode List</a></li>
  <li><a href="podcast/1/episodes/list.html" th:href="@{/ui/podcast/1/episodes}">Episode for Podcast 1</a></li>
  <li><a href="refresh" th:href="@{/refresh}">Refresh Episodes</a></li>
  <li><a href="error" th:href="@{/ui/testerror}">Test Error Page</a></li>
</ol>
  
  </body>

</html>
